.actions-slider {
  padding: 60px 0 72px;
  margin: 0 -16px;
  overflow: hidden;

  &__slider {
    .slick-list {
      overflow: unset;
    }

    .slick-arrow {
      z-index: 1;

      @media screen and (min-width: 1920px) {
        width: 38px;
        height: 38px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        width: 30px;
        height: 30px;
      }

      &::before {
        font-size: 0;
        border: solid $black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 12px;
        opacity: 1;
      }

      &.slick-next {
        right: -60px;
        transform: rotate(-45deg);
      }

      &.slick-prev {
        left: -60px;
        transform: rotate(135deg);
      }
    }

    .slick-arrow.slick-disabled {
      opacity: 0.5;
    }
  }

  &__item {
    overflow: hidden;
    transition: all 0.4s ease;
    position: relative;
    border-radius: 16px;

    @media screen and (min-width: 1920px) {
      margin: 0 16px;
      width: 463px;
      height: 540px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin: 0 10px;
      width: 300px;
      height: 350px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(179.71deg, rgba(255, 255, 255, 0.5) -212.49%, rgba(0, 0, 0, 0.5) 99.75%);
    z-index: 2;
    font-family: $muller;
    color: #fff;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media screen and (min-width: 1920px) {
      height: 237px;
      padding: 22px 32px 50px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      height: 160px;
      padding: 20px 25px 50px;
    }
  }

  &__name {
    font-weight: 700;
    transition: all 0.4s ease;

    @media screen and (min-width: 1920px) {
      font-size: 36px;
      padding-bottom: 12px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 22px;
      padding-bottom: 8px;
    }
  }

  &__text {
    transition: all 0.4s ease;

    @media screen and (min-width: 1920px) {
      font-size: 22px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 16px;
    }
  }

  &__link {
    font-weight: bold;
    color: $main;
    position: absolute;
    padding-right: 50px;
    bottom: -5em;
    transition: bottom 0.3s ease;

    @media screen and (min-width: 1920px) {
      margin-top: 40px;
      left: 36px;
      font-size: 18px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin-top: 20px;
      left: 25px;
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 25px;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $main;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      border: solid $main;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2px;
      cursor: pointer;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__item:first-of-type {
    @media screen and (min-width: 1920px) {
      width: 683px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      width: 455px;
    }

    .actions-slider__name {
      @media screen and (min-width: 1920px) {
        font-size: 48px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 22px;
      }
    }

    .actions-slider__text {
      @media screen and (min-width: 1920px) {
        font-size: 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 16px;
      }
    }
  }

  &__item:hover {
    box-shadow: 30px 30px 55px rgba(0, 0, 0, 0.21);
    transform: scale(1.05);

    .actions-slider__link {
      bottom: 26px;
    }
  }

  &__more {
    text-align: center;

    @media screen and (min-width: 1920px) {
      margin: 120px auto 0;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin: 90px auto 0;
    }

    .button {
      @media screen and (min-width: 1920px) {
        padding: 17px 88px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        padding: 15px 50px;
      }
    }
  }
}

.actions-page {
  padding-bottom: 120px;

  &__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    @media screen and (min-width: 1920px) {
      gap: 80px 32px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      gap: 32px;
    }
  }

  &__item {
    overflow: hidden;
    transition: all 0.4s ease;
    position: relative;
    border-radius: 16px;

    @media screen and (min-width: 1920px) {
      width: 463px;
      height: 540px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      width: 300px;
      height: 350px;
    }

    &:nth-of-type(1),
    &:nth-of-type(6),
    &:nth-of-type(7) {
      @media screen and (min-width: 1920px) {
        width: 735px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        width: 500px;
      }
    }

    &:hover {
      box-shadow: 30px 30px 55px rgba(0, 0, 0, 0.21);
      transform: scale(1.05);

      .actions-slider__link {
        bottom: 26px;
      }
    }
  }
}

.action-detailed {
  padding-bottom: 217px;
  letter-spacing: 0.01em;
  font-family: $muller;
  color: $black;

  &__wrap {
    display: grid;

    @media screen and (min-width: 1920px) {
      grid-gap: 76px;
      grid-template-columns: 735px 1fr;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      grid-gap: 32px;
      grid-template-columns: 50% 1fr;
    }
  }

  &__img {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 30px 30px 55px rgba(0, 0, 0, 0.21);
  }

  h1 {
    @media screen and (min-width: 1920px) {
      padding-bottom: 32px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding-bottom: 16px;
    }
  }

  &__date {
    font-weight: 700;

    @media screen and (min-width: 1920px) {
      padding-bottom: 32px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding-bottom: 16px;
    }
  }

  &__text {
    @media screen and (min-width: 1920px) {
      font-size: 24px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 16px;
    }
  }
}
