.banner {
  width: 100%;

  &__wrap {
    position: relative;

    @media screen and (min-width: 1920px) {
      top: 270px;
      left: 126px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      top: calc(50vh - 8em);
      left: 0;
    }

    @media screen and (max-width: 1279px) {
      padding: 24px 0 12px;
    }
  }

  &__item {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #000;

    @media screen and (min-width: 1920px) {
      height: 935px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      height: 100vh;
    }

    @media screen and (max-width: 1279px) {
      height: calc(100vh - 300px);
      min-height: 60vh;
      padding-bottom: 100px;
    }

    &-wrap {
      overflow: hidden;
    }
  }

  &__title {
    font-family: $muller;
    color: #fff;
    font-weight: 500;

    @media screen and (min-width: 1920px) {
      width: 767px;
      font-size: 72px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      width: 50%;
      font-size: 40px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
    }
  }

  &__desc {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    width: 767px;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 28px;
      width: 50%;
    }

    @media screen and (max-width: 1279px) {
      font-size: 20px;
      width: 100%;
      text-align: center;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    @media screen and (max-width: 1279px) {
      right: -20%;

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(180.09deg, rgba(1, 1, 2, 0.7) 44.5%, rgba(1, 1, 2, 0) 97.88%);
        content: "";
      }
    }

    img {
      height: 100%;
      margin-left: auto;
    }
  }

  &__link {
    @media screen and (min-width: 1920px) {
      margin-top: 40px;
      padding: 17px 88px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin-top: 30px;
      padding: 15px 50px;
    }

    @media screen and (max-width: 1279px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 43px;
      bottom: 2vh;
    }
  }

  &__info {
    max-width: 455px;
    position: absolute;
    background-color: rgba(193, 193, 193, 0.2);
    border-radius: 15px;
    color: #fff;
    font-family: $muller;

    @media screen and (min-width: 1920px) {
      padding: 28px 40px;
      bottom: 241px;
      right: 24.6%;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 20px 30px;
      bottom: 30%;
      right: 10%;
    }

    @media screen and (max-width: 1279px) {
      position: relative;
      padding: 16px 24px;
      max-width: 100%;
      margin-bottom: 16px;
    }
  }

  &__price {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    @media screen and (min-width: 1920px) {
      font-size: 24px;
      padding-bottom: 23px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 20px;
      padding-bottom: 15px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 18px;
      padding-bottom: 4px;
    }

    span {
      @media screen and (min-width: 1920px) {
        font-size: 48px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 30px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 24px;
      }
    }
  }

  &__tabak {
    padding: 28px 0 16px;
    font-weight: 500;

    @media screen and (min-width: 1920px) {
      font-size: 24px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1279px) {
      padding-top: 4px;
      font-size: 12px;
    }

    p {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 1em;

      @media screen and (max-width: 1279px) {
        font-size: 16px;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &.heading {
        font-weight: 400;
        font-size: 18px;
        opacity: 0.5;
        padding-bottom: 16px;

        @media screen and (min-width: 1279px) {
          font-size: 12px;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      span {
        white-space: nowrap;
      }
    }
  }

  &__extra {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.53);
  }

  &__arrow-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid rgba(228, 227, 227, 0.2);

    @media screen and (min-width: 1920px) {
      padding: 13px 23px;
      width: 147px;
      height: 45px;
      bottom: 100px;
      border-radius: 55px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 10px 20px;
      width: 140px;
      height: 40px;
      bottom: 40px;
      border-radius: 40px;
    }

    @media screen and (max-width: 1279px) {
      display: none;
    }

    .slick-arrow {
      &.slick-prev {
        left: 7px;
        transform: translate(0, -50%) rotate(135deg);
      }

      &.slick-next {
        right: 7px;
        transform: translate(0, -50%) rotate(-45deg);
      }

      &::before {
        border-color: #fff;

        @media screen and (min-width: 1280px) {
          padding: 5px;
          border-width: 0 2px 2px 0;
        }

        @media screen and (max-width: 1279px) {
          padding: 3px;
          border-width: 0 1px 1px 0;
        }
      }
    }
  }

  &__slider-wrap {
    position: relative;
  }

  &__slider-counter {
    color: $main2;
    width: 3em;
    line-height: 7px;
    text-align: center;
    display: inline-block;
    margin: 0 18px;
    position: relative;

    @media screen and (min-width: 1920px) {
      font-size: 18px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 16px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 12px;
      margin: 0 10px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &::before {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      left: 0;
    }

    &::after {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      right: 0;
    }
  }

  &__advantages {
    background-color: #000;
    border-top: 1px solid #393939;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 35px 0 23px;

      @media screen and (max-width: 1279px) {
        flex-wrap: wrap;
        gap: 6px;
        padding: 10px 0;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: #fff;

      @media screen and (max-width: 1279px) {
        width: calc(50% - 5px);
      }

      .hookah {
        @media screen and (min-width: 1920px) {
          margin-bottom: 20px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          margin-bottom: 15px;
          width: 50px;
          height: 50px;
        }

        @media screen and (max-width: 1279px) {
          width: 32px;
          height: 32px;
          margin-bottom: 8px;
        }
      }
    }

    &-text {
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.01em;

      @media screen and (min-width: 1920px) {
        font-size: 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 20px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 14px;
      }
    }
  }
}
