.brands {
  background: linear-gradient(269.85deg, #e4e4e4 51.5%, #bcbcbc 126.53%), #fff;

  @media screen and (max-width: 1279px) {
    .container {
      padding: 0 8px;
    }
  }

  &__wrap {
    display: grid;
    grid-gap: 31px;
    grid-template-columns: repeat(9, 1fr);
    padding: 43px 0;

    @media screen and (max-width: 1279px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 16px 9px;
      padding: 8px 0;

      .brands__img {
        width: 53px;
      }
    }
  }
}
