.brands {
  background: linear-gradient(269.85deg, #e4e4e4 51.5%, #bcbcbc 126.53%), #fff;

  &__wrap {
    display: grid;
    grid-gap: 31px;
    grid-template-columns: repeat(9, 1fr);
    padding: 43px 0;
  }
}
