.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  background: linear-gradient(161.01deg, #1a215d -3.89%, rgba(12, 15, 51, 0.22) 100.17%);
  display: none;
  overflow-y: auto;

  &.active {
    display: block;
    z-index: 10;
  }
}

.modal {
  z-index: -1;
  display: none;
  filter: drop-shadow(10px 10px 25px rgba(0, 0, 0, 0.05));
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin: 30px auto;

  @media screen and (max-width: 1279px) {
    border-radius: 5px;
    width: calc(100vw - 10px);
    overflow: unset;
    margin-top: 50px;
  }

  &.active {
    z-index: 10;
    display: block;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    z-index: 10;

    @media screen and (min-width: 1920px) {
      width: 27px;
      height: 27px;
      top: 24px;
      right: 24px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      width: 24px;
      height: 24px;
      top: 20px;
      right: 20px;
    }

    @media screen and (max-width: 1279px) {
      width: 20px;
      height: 20px;
      top: -30px;
      right: 10px;
    }

    &::before,
    &::after {
      content: "";
      height: 2px;
      background-color: #424242;
      transform-origin: left;
      position: absolute;
      left: 0;

      @media screen and (min-width: 1920px) {
        width: 36px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        width: 31px;
      }

      @media screen and (max-width: 1279px) {
        width: 25px;
        background-color: #fff;
      }
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  &-img {
    img {
      object-fit: contain;
      position: relative;
      z-index: -1;
    }

    &__box > img {
      max-width: 80vw;
      height: 80vh;

      @media screen and (max-width: 1279px) {
        height: auto;
        max-height: 85vh;
        max-width: 90vw;
      }
    }

    .about-page__team-item {
      max-width: 80vw;
      width: 100%;
      height: 80vh;

      @media screen and (max-width: 1279px) {
        height: auto;
        max-height: 90vh;
        max-width: 90vw;
      }
    }
  }

  &-order {
    background-color: #fff;

    @media screen and (min-width: 1920px) {
      padding: 60px 32px 32px;
      width: 870px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 40px 32px 32px;
      width: 45%;
    }

    @media screen and (max-width: 1279px) {
      padding: 32px 10px;
      width: calc(100% - 10px);
    }

    &__accept-box {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 23px;

      .policy {
        color: $main;
      }
    }

    &__accept {
      position: absolute;
      opacity: 0;

      &:checked + label::after {
        content: "";
      }
    }

    &__title {
      font-weight: 700;
      letter-spacing: 0.02em;
      text-transform: uppercase;

      @media screen and (min-width: 1920px) {
        font-size: 36px;
        padding-bottom: 16px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 22px;
        padding-bottom: 10px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 24px;
        padding-bottom: 8px;
      }
    }

    &__back {
      font-family: $muller;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $main;
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding-bottom: 1em;

      @media screen and (min-width: 1920px) {
        font-size: 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 18px;
        padding-bottom: 16px;
      }

      &::before {
        content: "";
        border-left: 1px solid $main;
        border-top: 1px solid $main;
        transform: rotate(-45deg);

        @media screen and (min-width: 1920px) {
          margin-right: 16px;
          padding: 6px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          margin-right: 10px;
          padding: 4px;
        }

        @media screen and (max-width: 1279px) {
          margin-right: 12px;
          padding: 6px;
        }
      }
    }

    &__form {
      &-title {
        font-weight: 700;
        letter-spacing: 0.01em;
        color: $black;
        border-top: 1px solid #c5c5c5;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 100%;

        @media screen and (min-width: 1920px) {
          font-size: 32px;
          padding: 32px 0 25px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          font-size: 24px;
          padding: 15px 0;
        }

        @media screen and (max-width: 1279px) {
          font-size: 24px;
          padding: 16px 0 8px;
        }
      }

      &-info,
      &-personal {
        display: grid;

        @media screen and (min-width: 1920px) {
          grid-template-columns: 325px 1fr;
          grid-gap: 0 12px;
        }

        @media screen and (max-width: 1919px) {
          grid-template-columns: 47% 50%;
          grid-gap: 5px 12px;
          padding: 16px 0;
        }

        span {
          color: #4f4f4f;
          letter-spacing: 0.01em;

          @media screen and (max-width: 1279px) {
            font-size: 12px;
          }

          &.emph {
            white-space: nowrap;
            color: $main;

            @media screen and (min-width: 1920px) {
              font-size: 36px;
            }

            @media screen and (min-width: 1280px) and (max-width: 1919px) {
              font-size: 22px;
            }

            @media screen and (max-width: 1279px) {
              font-size: 12px;
            }

            & + .wpcf7-form-control-wrap {
              @media screen and (min-width: 1920px) {
                font-size: 36px;
              }

              @media screen and (min-width: 1280px) and (max-width: 1919px) {
                font-size: 22px;
              }
            }
          }

          @media screen and (min-width: 1920px) {
            font-size: 24px;
          }

          @media screen and (min-width: 1280px) and (max-width: 1919px) {
            font-size: 18px;
          }
        }
      }

      &-input {
        width: 100%;
        border: none;
        font-weight: 600;
        color: #4f4f4f;
        padding: 0;

        @media screen and (min-width: 1920px) {
          font-size: 24px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          font-size: 18px;
        }

        @media screen and (max-width: 1279px) {
          font-size: 12px;
        }

        &.tel {
          line-height: 1;
          color: $main;
          font-weight: 600;

          @media screen and (min-width: 1920px) {
            font-size: 36px;
          }

          @media screen and (min-width: 1280px) and (max-width: 1919px) {
            font-size: 22px;
          }

          @media screen and (max-width: 1279px) {
            font-size: 14px;
          }
        }

        &.delivery {
          color: $green;

          &.red {
            color: $red;
          }
        }
      }

      &-personal {
        border-top: 1px solid #c5c5c5;
        border-bottom: 1px solid #c5c5c5;

        @media screen and (min-width: 1920px) {
          padding: 32px 0;
          margin: 32px 0;
        }

        @media screen and (max-width: 1919px) {
          padding: 16px 0;
          margin: 16px 0;
        }
      }

      &-total {
        span {
          font-family: $muller;
          font-weight: 400;
          color: #323232;

          @media screen and (min-width: 1920px) {
            font-size: 24px;
            margin-right: 14px;
          }

          @media screen and (min-width: 1280px) and (max-width: 1919px) {
            font-size: 16px;
            margin-right: 10px;
          }

          @media screen and (max-width: 1279px) {
            font-size: 18px;
            margin-right: 21px;
          }
        }
      }

      &-price {
        color: $main;
        font-weight: 900;
        letter-spacing: 0.02em;
        border: none;
        width: 5em;

        @media screen and (min-width: 1920px) {
          font-size: 48px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          font-size: 30px;
        }

        @media screen and (max-width: 1279px) {
          font-size: 24px;
        }
      }
    }

    .button-wrap {
      text-align: center;
      position: relative;

      @media screen and (min-width: 1920px) {
        padding-top: 32px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        padding-top: 16px;
      }

      @media screen and (max-width: 1279px) {
        padding-top: 24px;
      }

      .button {
        border-radius: 16px;

        @media screen and (min-width: 1920px) {
          padding: 20px 84px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          padding: 16px 50px;
        }

        @media screen and (max-width: 1279px) {
          padding: 8px;
          border-radius: 8px;
        }
      }
    }

    .wpcf7-response-output {
      display: none;
    }

    &__button:disabled {
      opacity: 0.8;
    }

    &__span {
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      color: #828282;
      padding-bottom: 24px;
      position: relative;
      padding-left: 40px;

      &::before {
        content: "";
        width: 1em;
        height: 1em;
        border: 1px solid $black;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;

        @media screen and (max-width: 1279px) {
          width: 22px;
          height: 22px;
        }
      }

      &::after {
        border-left: 3px solid $black;
        border-top: 3px solid $black;
        width: 8px;
        height: 15px;
        transform: rotate(-135deg);
        position: absolute;
        top: 0;
        left: 6px;

        @media screen and (max-width: 1279px) {
          border-width: 2px;
          width: 6px;
          height: 14px;
        }
      }

      @media screen and (max-width: 1279px) {
        font-size: 12px;
        padding-bottom: 16px;
      }
    }
  }
}

.modal-callback {
  background-color: #fff;
  padding: 50px 40px;
  max-width: 452px;

  @media screen and (max-width: 1279px) {
    padding: 32px 10px 24px;
  }

  &__accept-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .policy {
    color: $main;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $black;
    padding-bottom: 0.5em;

    @media screen and (max-width: 1279px) {
      font-size: 24px;
      padding-bottom: 8px;
      text-align: center;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #828282;
    padding-bottom: 40px;

    @media screen and (max-width: 1279px) {
      padding-bottom: 16px;
      text-align: center;
    }
  }

  &__input {
    padding: 18px 16px;
    margin-bottom: 24px;
    border: 1px solid #c8c8c8;
    font-family: $muller;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #7d7d7d;
    border-radius: 15px;
    width: 100%;

    @media screen and (max-width: 1279px) {
      padding: 11px 16px;
      font-size: 12px;
      margin-bottom: 16px;
    }
  }

  &__span {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #828282;
    padding-bottom: 24px;
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      width: 25px;
      height: 25px;
      border: 1px solid $black;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;

      @media screen and (max-width: 1279px) {
        width: 22px;
        height: 22px;
      }
    }

    &::after {
      border-left: 3px solid $black;
      border-top: 3px solid $black;
      width: 8px;
      height: 16px;
      transform: rotate(-135deg);
      position: absolute;
      top: 2px;
      left: 8px;

      @media screen and (max-width: 1279px) {
        border-width: 2px;
        width: 6px;
        height: 14px;
      }
    }

    @media screen and (max-width: 1279px) {
      font-size: 12px;
      padding-bottom: 16px;
    }
  }

  &__accept {
    position: absolute;
    opacity: 0;

    &:checked + label::after {
      content: "";
    }
  }

  &__submit {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 17px 0;
    width: 100%;

    @media screen and (max-width: 1279px) {
      padding: 12px 0;
    }

    &:disabled {
      opacity: 0.8;
    }
  }
}

.wpcf7 .ajax-loader {
  position: absolute;
  right: 0;
  bottom: 0;
}

.modal-thx {
  background-color: #fff;
  padding: 80px 24px 60px;
  max-width: 452px;

  @media screen and (max-width: 1279px) {
    padding: 40px 30px 30px;
  }

  .icon {
    display: block;
    margin: 0 auto 40px;

    @media screen and (max-width: 1279px) {
      width: 68px;
      height: 68px;
      margin-bottom: 37px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $black;
    padding-bottom: 24px;

    @media screen and (max-width: 1279px) {
      text-align: center;
      font-size: 24px;
      padding-bottom: 12px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #828282;

    @media screen and (max-width: 1279px) {
      font-size: 18px;
      text-align: center;
    }
  }

  &__phone {
    font-family: $muller;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: $main;
    padding-bottom: 24px;

    .phone {
      white-space: nowrap;
    }

    @media screen and (max-width: 1279px) {
      font-size: 18px;
      padding-bottom: 12px;
      text-align: center;
    }
  }
}

.modal-review {
  background-color: #fff;
  padding: 40px 32px 32px;

  @media screen and (min-width: 1280px) {
    width: 870px;
  }

  @media screen and (max-width: 1279px) {
    padding: 20px 8px 24px;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 53px;
    padding-bottom: 32px;

    @media screen and (max-width: 1279px) {
      gap: 16px;
      padding-bottom: 12px;
    }
  }

  &__img {
    width: 215px;
    max-height: 274px;
    border-radius: 15px;

    @media screen and (max-width: 1279px) {
      width: 101px;
      max-height: 128px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 16px;
    color: $black;

    @media screen and (max-width: 1279px) {
      font-size: 18px;
      padding-bottom: 4.5px;
    }
  }

  &__exp {
    font-weight: 600;
    font-size: 18px;
    color: #828282;
    padding-bottom: 1em;

    @media screen and (max-width: 1279px) {
      font-size: 12px;
    }
  }

  &__desc {
    font-weight: 600;
    font-size: 18px;
    color: $black;
    padding-bottom: 1em;

    @media screen and (max-width: 1279px) {
      font-size: 12px;
    }
  }

  &__stars {
    padding-bottom: 8px;
  }

  &__rating {
    font-size: 18px;
    color: $black;

    span {
      font-size: 24px;
    }
  }

  &__comments {
    max-height: 420px;
    overflow-y: auto;

    h3 {
      padding-bottom: 24px;
      font-weight: 700;
      font-size: 24px;
      color: $black;
      display: inline-block;

      @media screen and (max-width: 1279px) {
        font-size: 14px;
        padding-bottom: 4.5px;
      }
    }
  }

  &__comment {
    padding-bottom: 16px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 32px;
    }

    &-name {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.01em;

      @media screen and (max-width: 1279px) {
        font-size: 12px;
      }
    }

    &-date {
      font-size: 18px;
      color: #bdbdbd;

      @media screen and (max-width: 1279px) {
        font-size: 12px;
      }
    }

    &-content {
      @media screen and (max-width: 1279px) {
        font-size: 10px;
      }
    }
  }

  &__add {
    padding: 20px 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    font-size: 18px;

    @media screen and (max-width: 1279px) {
      padding: 12px 40px;
    }
  }

  .comment-reply-title {
    padding-bottom: 19px;
    font-weight: 700;
    font-size: 24px;

    @media screen and (max-width: 1279px) {
      font-size: 14px;
      padding-bottom: 16px;
    }
  }

  &__submit {
    padding: 20px 93px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.05);
    border-radius: 16px;

    @media screen and (max-width: 1279px) {
      padding: 12px 40px;
    }
  }

  .form-submit {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1279px) {
      justify-content: center;
    }
  }

  &__form {
    display: none;
  }

  &__hide {
    color: $main;
    font-size: 14px;
    margin-left: auto;
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 30px;
    cursor: pointer;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      display: block;
      border-left: 1px solid $main;
      border-bottom: 1px solid $main;
      margin-right: 15px;
      transform: rotate(135deg);
    }
  }
}

.modal-review-thx {
  background-color: #fff;
  padding: 80px;

  @media screen and (max-width: 1279px) {
    padding: 40px 30px 30px;
  }

  .icon {
    display: block;
    margin: 0 auto 40px;

    @media screen and (max-width: 1279px) {
      width: 68px;
      height: 68px;
      margin-bottom: 37px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $black;
    padding-bottom: 24px;

    @media screen and (max-width: 1279px) {
      text-align: center;
      font-size: 24px;
      padding-bottom: 12px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #828282;

    @media screen and (max-width: 1279px) {
      font-size: 16px;
      text-align: center;
    }
  }
}
