.not-found {
  padding: 136px 0;

  @media screen and (max-width: 1279px) {
    padding: 38px 0 32px;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (min-width: 1920px) {
      gap: 83px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      gap: 40px;
    }

    @media screen and (max-width: 1279px) {
      gap: 24px;
      flex-direction: column;
      align-items: center;
    }
  }

  .icon {
    @media screen and (min-width: 1920px) {
      min-width: 251px;
      height: 251px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      min-width: 200px;
      height: 200px;
    }

    @media screen and (max-width: 1279px) {
      width: 129px;
      height: 129px;
    }
  }

  &__text {
    font-family: $muller;
    letter-spacing: 0.01em;
  }

  &__title {
    font-weight: 700;

    @media screen and (min-width: 1920px) {
      font-size: 72px;
      padding-bottom: 22px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 46px;
      padding-bottom: 16px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 30px;
      padding-bottom: 16px;
      text-align: center;
    }
  }

  &__desc {
    @media screen and (min-width: 1920px) {
      font-size: 36px;
      padding-bottom: 69px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 24px;
      padding-bottom: 50px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 16px;
      padding-bottom: 32px;
      text-align: center;
    }
  }

  &__menu {
    font-family: $muller;
    display: grid;
    color: $main;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (min-width: 1920px) {
      grid-gap: 32px 96px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      grid-gap: 24px 48px;
    }

    @media screen and (max-width: 1279px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em 10%;
    }

    &-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .menu-item {
      display: block;
    }

    a {
      color: $main;

      @media screen and (min-width: 1920px) {
        font-size: 36px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 24px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 16px;
      }
    }

    .menu-shop a {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .sushi {
        width: 27px;
        height: 28px;
        fill: $main;
        margin-right: 12px;
      }
    }
  }
}
