.new-year .button {
  border-radius: 16px;

  @media screen and (max-width: 1279px) {
    border-radius: 8px;
  }
}

.ny-banner {
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  height: calc(100vh - 108px);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    height: calc(100vh - 76px);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: calc(100vh - 108px);
    background-position: right bottom;
  }

  @media screen and (max-width: 767px) {
    max-height: 500px;
    background-position: right bottom;
  }

  &__wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #fff;
  }

  &__content {
    position: relative;
    max-width: 50%;

    @media screen and (max-width: 1279px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: unset;
    }
  }

  &__absolute {
    position: absolute;
    top: 0;
    left: calc(100% + 5vw);
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    padding: 24px;
    background-color: rgba(193, 193, 193, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 403px;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 36px;
      width: 300px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 32px;
      width: 280px;
      left: 0;
      position: unset;
      margin-top: 30px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 72px;
    padding-bottom: 32px;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 52px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 42px;
    }

    @media screen and (max-width: 767px) {
      font-size: 28px;
      padding-bottom: 1em;
    }
  }

  &__li {
    font-weight: 500;
    font-size: 48px;

    &::before {
      content: "- ";
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 38px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 32px;
    }

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }

  &__button {
    @media screen and (max-width: 1279px) {
      position: unset;
      transform: unset;
      margin-top: 22px;
    }
  }

  &__after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 22px;
  }
}

.ny-why {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;

  h2.title {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 70px;

    @media screen and (max-width: 767px) {
      font-size: 18px;
      padding-bottom: 22px;
    }

    .red {
      color: $red;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 118px;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin-bottom: 70px;
    }

    @media screen and (max-width: 1279px) {
      flex-wrap: wrap;
      gap: 24px 32px;
      margin-bottom: 24px;
    }
  }

  &__item {
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    width: 270px;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      text-align: center;
      font-size: 20px;
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
      text-align: center;
      width: calc(50% - 16px);
    }
  }

  &__img {
    width: 94px;
    height: 94px;
    margin-bottom: 50px;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin-bottom: 30px;
      width: 70px;
      height: 70px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin: 0 auto 25px;
    }

    @media screen and (max-width: 767px) {
      width: 40px;
      height: 40px;
      margin: 0 auto 16px;
    }
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 17px 88px;
  }
}

.ny-actions {
  padding: 60px 0 100px;
  overflow: hidden;

  @media screen and (max-width: 1279px) {
    padding: 32px 0 30px;
  }

  &__slider {
    @media screen and (max-width: 1279px) {
      margin: 0 16px;
    }

    .slick-list {
      overflow: unset;
      margin: 0 -16px;
    }

    .slick-arrow {
      &.slick-next {
        right: -60px;

        @media screen and (max-width: 1279px) {
          right: -9px;
        }
      }

      &.slick-prev {
        left: -60px;

        @media screen and (max-width: 1279px) {
          left: -9px;
        }
      }
    }
  }
}

.ny-photos {
  background-color: #fff;
  padding: 60px 0 80px;

  @media screen and (max-width: 1279px) {
    background-color: transparent;
  }

  &__slider {
    margin: 0 -13px;

    @media screen and (max-width: 1279px) {
      margin: unset;
    }
  }

  &__item {
    margin: 0 13px;
    overflow: hidden;

    img {
      border-radius: 25px;

      @media screen and (max-width: 1279px) {
        border-radius: 15px;
      }
    }
  }
}

.ny-how {
  padding: 50px 0 40px;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: linear-gradient(230.44deg, #131212 21.37%, #000 72.62%);

  @media screen and (max-width: 1279px) {
    padding: 38px 0 23px;
  }

  h2.title {
    color: #fff;
    padding-bottom: 16px;
  }

  &__desc {
    text-align: center;
    font-size: 24px;
    padding-bottom: 26px;

    @media screen and (max-width: 1279px) {
      font-size: 14px;
      padding-bottom: 24px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;

    @media screen and (max-width: 1279px) {
      height: 100%;
    }
  }

  &__table {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 54px;
    position: relative;

    @media screen and (max-width: 1279px) {
      border: none;
      margin-bottom: 24px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 90px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        top: 60px;
      }

      @media screen and (max-width: 1279px) {
        content: none;
      }
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 188px;
    position: relative;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      gap: 100px;
    }

    @media screen and (max-width: 1279px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    &::after {
      content: "";
      width: 1px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      background-color: rgba(255, 255, 255, 0.3);

      @media screen and (max-width: 1279px) {
        content: none;
      }
    }
  }

  &__block {
    &-title {
      padding: 22px 0;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.01em;
      text-align: center;
      white-space: nowrap;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        padding: 15px 0;
        font-size: 26px;
      }

      @media screen and (max-width: 1279px) {
        padding: 0 0 16px;
        font-size: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin-bottom: 32px;
      }
    }

    &-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 25px;

      @media screen and (max-width: 1279px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px 5px;
      }
    }
  }

  &__item {
    padding: 66px 0 20px;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 30px 0 20px;
    }

    @media screen and (max-width: 1279px) {
      text-align: center;
      padding: 0;

      &:first-of-type {
        width: calc(50% - 3px);
        grid-column: 1/3;
        margin: 0 auto;
      }
    }

    &-step {
      font-weight: 500;
      font-size: 28px;
      color: $main;
      padding-bottom: 12px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 24px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 14px;
      }
    }

    &-text {
      font-weight: 600;
      font-size: 18px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 15px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 12px;
      }
    }

    &-icon {
      width: 80px;
      height: 80px;
      margin-bottom: 40px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
      }

      @media screen and (max-width: 1279px) {
        margin: 0 auto 12px;
        width: 36px;
        height: 36px;
      }
    }
  }

  &__button {
    padding: 17px 88px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1279px) {
      padding: 8px 20px;
    }
  }
}

.ny-price {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 50px;
  }

  &__title {
    padding-bottom: 50px;
  }

  .slick-list {
    overflow: unset;
    margin: 0 -16px;
  }

  .price-block__item_slider.active .price-block__form {
    width: calc(100vw - 8px);
  }

  &__content {
    position: relative;
    padding: 60px 0;
    background: linear-gradient(91.78deg, rgba(69, 168, 240, 0.1) 17.18%, rgba(0, 178, 255, 0.1) 93.24%);

    @media screen and (max-width: 767px) {
      padding-bottom: 30px;
    }
  }

  &__block {
    margin: 0 -16px;

    @media screen and (max-width: 1279px) {
      margin: 0;
    }
  }

  &__wrap {
    &-title {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      white-space: nowrap;
      margin-bottom: 40px;
      text-align: center;
      color: $black;
      font-weight: 700;
      font-size: 36px;

      @media screen and (max-width: 1279px) {
        grid-template-columns: 1fr;

        span:last-child {
          display: none;
        }
      }

      @media screen and (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 21px;
      }
    }
  }

  &__extra {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    font-weight: 500;
    font-size: 14px;
    color: #595959;

    @media screen and (max-width: 1279px) {
      grid-template-columns: 1fr;
      grid-gap: 1em;
      font-size: 10px;
      margin-top: 66px;
    }

    p {
      padding-bottom: 1em;
    }
  }

  &__light {
    position: absolute;
    left: 0;
    right: 0;
    height: 26px;
    z-index: 1;

    &_top {
      top: -12px;
    }

    &_bottom {
      bottom: -12px;
    }

    @media screen and (max-width: 1279px) {
      display: none;
    }
  }

  .price-block__box {
    background-color: #ededed;
  }

  @media screen and (max-width: 767px) {
    .slick-arrow {
      bottom: -50px;
      height: 15px;
      top: unset;
    }

    .slick-next {
      right: calc(50% - 30px);
    }

    .slick-prev {
      left: calc(50% - 30px);
    }
  }
}

.price-block {
  &__save {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 12px;
    height: 2em;
    color: $red;
    margin-bottom: 12px;

    @media screen and (max-width: 767px) {
      font-size: 10px;
      padding-bottom: 3px;
      margin-bottom: 0;
      border: none;
      height: auto;
    }
  }

  &__add {
    &-item {
      display: grid;
      grid-template-columns: 21px 1fr;
      grid-template-rows: auto;
      grid-gap: 8px 10px;

      @media screen and (max-width: 767px) {
        grid-gap: 4px;
        grid-template-columns: 11px 1fr;
      }
    }

    &-desc {
      font-weight: 600;
      font-size: 16px;
      color: #4f4f4f;

      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }

    &-img {
      width: 100%;
    }
  }

  &__img {
    min-height: 233px;

    @media screen and (max-width: 1919px) {
      min-height: 64px;
    }
  }

  &__present-cup {
    padding-bottom: 12px;

    label {
      font-size: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        min-width: 1em;
        height: 1em;
        display: block;
        border: 1px solid $black;
        border-radius: 4px;
        margin-right: 10px;
      }

      &::after {
        border-left: 3px solid $black;
        border-top: 3px solid $black;
        width: 8px;
        height: 15px;
        transform: rotate(-135deg);
        position: absolute;
        top: 0;
        left: 6px;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      z-index: -1;

      &:checked + label::after {
        content: "";
      }
    }
  }

  &__item_slider {
    .price-block__box {
      height: 100%;
    }
  }
}

.good-preorder {
  .present,
  .present-title,
  .time,
  .time-title {
    color: $red;
  }

  .present,
  .time {
    font-weight: 600;
  }
}

.slick-initialized .slick-slide {
  height: inherit !important;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}

.header__ny {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 202px;
  height: 61px;
  background: linear-gradient(110.76deg, #e93030 3.66%, #892822 106.41%);
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  img {
    margin-right: 4px;
    height: 100%;
  }

  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.header__actions-ny {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 202px;
  height: 61px;
  background: linear-gradient(110.76deg, #e93030 3.66%, #892822 106.41%);
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  img {
    margin-right: 4px;
    height: 100%;
  }

  span {
    font-size: 12px;
  }
}

.actions-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  @media screen and (min-width: 768px) and (max-width: 1919px) {
    padding: 10px;
  }

  @media screen and (max-width: 767px) {
    padding: 5px;
    font-size: 12px;
  }

  img {
    margin-right: 4px;
  }
}

.direct {
  display: none;
  background: linear-gradient(110.76deg, #e93030 3.66%, #892822 106.41%);
  padding: 5px 0;
  position: absolute;
  top: 55px;
  width: 100%;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      content: "";
    }

    &::before {
      transform: translateY(-50%);
      width: 21px;
      height: 2px;
      background-color: #fff;
    }

    &::after {
      width: 10px;
      height: 10px;
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
      transform: translateY(-50%) rotate(135deg);
    }

    img {
      margin-right: 18px;
      max-width: 31px;
    }
  }

  @media screen and (max-width: 1279px) {
    display: block;
  }
}

@media screen and (max-width: 1279px) {
  .new-year .main {
    padding-top: 55px;
  }
}
