.price-block {
  padding: 80px 0 36px;

  @media screen and (max-width: 1279px) {
    padding: 32px 0 36px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1279px) {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 30px;
    }

    &_slider {
      display: block;

      .slick-list {
        overflow: unset;
      }

      @media screen and (max-width: 1279px) {
        padding-bottom: 0;

        .slick-prev,
        .slick-next {
          bottom: -36px;
          top: unset;
        }

        .slick-prev {
          left: calc(50% - 20px);
        }

        .slick-next {
          right: calc(50% - 20px);
        }
      }

      @media screen and (min-width: 1920px) {
        margin: 0 -16px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        margin: 0 -6px;
      }

      @media screen and (max-width: 1279px) {
        margin: 0 -4px;
      }
    }

    @media screen and (min-width: 1920px) {
      grid-gap: 46px 32px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      grid-gap: 12px;
    }
  }

  &__item {
    overflow: hidden;
    position: relative;

    &_slider {
      @media screen and (min-width: 1920px) {
        margin: 0 16px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        margin: 0 6px;
      }

      @media screen and (max-width: 1279px) {
        margin: 0 4px;
      }
    }
  }

  &__img {
    border-radius: 16px 16px 0 0;
    max-height: 250px;
    width: 100%;

    @media screen and (max-width: 1279px) {
      max-height: 64px;
    }
  }

  &__box {
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    border-radius: 0 0 16px 16px;

    @media screen and (min-width: 1920px) {
      padding: 12px 20px 86px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 10px 15px 86px;
    }

    @media screen and (max-width: 1279px) {
      position: relative;
      padding: 5px 4px 45px;
    }

    .qty,
    .coal,
    .time,
    .addition {
      height: 1.3em;
    }

    .tobacco,
    .set {
      height: 3.9em;
    }
  }

  &__name {
    font-family: $muller;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #333;
    padding-bottom: 4px;
    height: 1.3em;

    @media screen and (min-width: 1920px) {
      font-size: 32px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 24px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 14px;
    }
  }

  &__sale {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 22px;
    padding-bottom: 12px;

    @media screen and (max-width: 1279px) {
      padding-bottom: 3px;
      height: 11px;
    }

    & > a {
      cursor: initial;
      background-color: $red;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      padding: 2px 11px;
      border-radius: 5px;

      @media screen and (min-width: 1920px) {
        font-size: 14px;
      }

      @media screen and (max-width: 1919px) {
        font-size: 12px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 8px;
        padding: 1px 4px;
      }
    }
  }

  &__info,
  &__set {
    display: grid;
    letter-spacing: 0.01em;
    color: #4f4f4f;
    grid-gap: 0.5em 5px;

    @media screen and (min-width: 1920px) {
      font-size: 16px;
      grid-template-columns: 104px 1fr;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 14px;
      grid-template-columns: 80px 1fr;
    }

    @media screen and (max-width: 1279px) {
      font-size: 8px;
      grid-template-columns: 1fr;
      padding-bottom: 2px;
    }

    span:nth-of-type(2n) {
      font-weight: 600;
      font-size: 12px;
      padding-bottom: 6px;
    }
  }

  &__info {
    @media screen and (min-width: 1280px) {
      padding-bottom: 12px;
      border-bottom: 1px solid #c5c5c5;
      margin-bottom: 12px;
    }
  }

  &__more {
    color: $green;
    width: 100%;
    border-top: 1px solid rgba(39, 174, 96, 0.5);
    border-bottom: 1px solid rgba(39, 174, 96, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 600;
    padding: 4px;
    letter-spacing: 0.03em;
    position: relative;

    &::before {
      content: "Подробнее";
    }

    &::after {
      content: "";
      transform-origin: center;
      margin-left: 6px;
      width: 6px;
      height: 6px;
      border-width: 0 1px 1px 0;
      border-color: rgba(39, 174, 96, 0.5);
      border-style: solid;
      transform: translateY(-3px) rotate(45deg);
      transition: transform 0.2s ease;
    }
  }

  &__info.active {
    .price-block__more {
      &::before {
        content: "Скрыть";
      }

      &::after {
        transform: rotate(-135deg);
      }
    }
  }

  &__mobile {
    letter-spacing: 0.01em;
    color: #4f4f4f;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__absolute {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 1920px) {
      bottom: 20px;
      left: 20px;
      right: 20px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      left: 15px;
      right: 15px;
      bottom: 15px;
    }

    @media screen and (max-width: 1279px) {
      bottom: 16px;
      left: 4px;
      right: 4px;
    }
  }

  &__price {
    letter-spacing: 0.02em;

    &-actual {
      font-weight: 900;
      display: inline-block;
      color: $main;
      white-space: nowrap;

      @media screen and (min-width: 1920px) {
        font-size: 32px;
        margin-right: 8px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 20px;
        margin-right: 6px;
      }

      @media screen and (min-width: 375px) and (max-width: 1279px) {
        font-size: 17px;
        color: $black;
      }

      @media screen and (max-width: 374px) {
        font-size: 14px;
        color: $black;
      }
    }

    &-old {
      white-space: nowrap;
      font-weight: 500;
      text-decoration-line: line-through;
      color: #4f4f4f;

      @media screen and (min-width: 1920px) {
        font-size: 20px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 12px;
      }

      @media screen and (max-width: 1279px) {
        display: none;
      }
    }
  }

  &__order {
    @media screen and (min-width: 1920px) {
      padding: 10px 47px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 8px 28px;
    }

    @media screen and (min-width: 375px) and (max-width: 1279px) {
      padding: 7px 20px;
      font-size: 13px;
      border-radius: 8px;
    }

    @media screen and (max-width: 374px) {
      padding: 5px 16.5px;
      font-size: 10px;
      border-radius: 8px;
    }
  }

  &__form {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    top: 100%;
    z-index: -1;
    bottom: 0;
    transition: all 0.3s ease;

    @media screen and (min-width: 1920px) {
      padding: 24px 20px 88px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 20px 15px 88px;
    }

    @media screen and (max-width: 1279px) {
      padding: 8px 10px 16px;
    }

    &.active {
      z-index: 3;

      @media screen and (min-width: 1280px) {
        top: 15%;
      }

      @media screen and (max-width: 1279px) {
        position: fixed;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
      }
    }

    &-close {
      position: absolute;
      right: 24px;
      top: 24px;
      cursor: pointer;
      width: 13px;
      height: 13px;

      @media screen and (max-width: 1279px) {
        top: 8px;
        right: 8px;
        width: 15px;
        height: 15px;
      }

      &::before,
      &::after {
        content: "";
        width: 17px;
        height: 1px;
        background-color: $black;
        position: absolute;
        left: 0;
        transform-origin: left;

        @media screen and (max-width: 1279px) {
          width: 20px;
        }
      }

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }

    &-title {
      font-weight: 700;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $black;

      @media screen and (min-width: 1920px) {
        font-size: 18px;
        padding-bottom: 16px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 16px;
        padding-bottom: 14px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 18px;
        padding-bottom: 19px;
      }
    }

    &-row {
      display: flex;
      align-items: center;

      @media screen and (min-width: 1920px) {
        justify-content: space-between;
        padding-bottom: 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        flex-direction: column;
        justify-content: flex-start;
      }

      @media screen and (max-width: 1279px) {
        flex-direction: column;
        margin-bottom: 16px;
      }
    }

    &-item {
      width: 100%;
    }
  }

  &__qty {
    font-family: $muller;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1920px) {
      width: calc(50% - 9px);
      border-radius: 16px;
      padding: 8px 25px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      width: 100%;
      border-radius: 14px;
      padding: 5px 20px;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 1279px) {
      width: 100%;
      margin-bottom: 8px;
      padding: 4px;
      border-radius: 4px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    label {
      text-align: center;
      color: #323232;
      display: block;
      width: 100%;
      font-size: 12px;

      @media screen and (min-width: 1920px) {
        padding-bottom: 4px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        padding-bottom: 10px;
      }

      @media screen and (max-width: 1279px) {
        padding-bottom: 8px;
      }
    }

    input {
      width: 3em;
      background-color: transparent;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      border: none;
    }

    .btn {
      border: none;
      font-weight: 500;
      font-size: 18px;
      color: #323232;
      cursor: pointer;
      background-color: transparent;
    }
  }

  &__delivery {
    position: relative;

    @media screen and (min-width: 1920px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin-bottom: 10px;
    }

    @media screen and (max-width: 1279px) {
      margin-bottom: 12px;
    }

    label {
      border-radius: 15px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;

      @media screen and (min-width: 1920px) {
        padding: 10px 20px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        padding: 0 15px;
      }

      @media screen and (max-width: 1279px) {
        padding: 8px 10px;
      }

      &::before {
        font-weight: 300;

        @media screen and (min-width: 1920px) {
          font-size: 40px;
          line-height: 16px;
          margin-right: 8px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          font-size: 24px;
          line-height: 26px;
          margin-right: 5px;
        }

        @media screen and (max-width: 1279px) {
          font-size: 20px;
          line-height: 20px;
          margin-right: 5px;
        }
      }

      &::after {
        white-space: nowrap;
        font-family: $muller;
        font-weight: 500;

        @media screen and (min-width: 1920px) {
          font-size: 12px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          font-size: 10px;
          line-height: 26px;
        }

        @media screen and (max-width: 1279px) {
          font-size: 12px;
        }
      }
    }

    input {
      opacity: 0;
      position: absolute;
      z-index: -1;

      &:checked + label {
        border: 1px solid $red;

        &::before {
          content: "-";
          color: $red;
        }

        &::after {
          content: "Удалить быструю доставку";
          color: $red;
        }
      }

      &:not(:checked) + label {
        border: 1px solid $green;

        &::before {
          content: "+";
          color: $green;
        }

        &::after {
          content: "Добавить быструю доставку (+ 500 ₽) ";
          color: $green;
        }
      }
    }
  }

  &__coal-amount {
    letter-spacing: 0.01em;
    color: #4f4f4f;

    @media screen and (min-width: 1920px) {
      font-size: 16px;
      padding-bottom: 12px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 14px;
      padding-bottom: 10px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 18px;
      padding-bottom: 8px;
    }

    .coal {
      font-weight: 600;
    }
  }

  &__total {
    color: #323232;

    @media screen and (min-width: 1920px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 12px;
    }

    @media screen and (max-width: 1279px) {
      font-size: 18px;
      padding-bottom: 12px;
    }

    .total {
      color: $main;
      font-weight: 900;
      letter-spacing: 0.02em;

      @media screen and (min-width: 1920px) {
        font-size: 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 18px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 24px;
      }
    }
  }

  &__submit {
    @media screen and (min-width: 1280px) {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 42px;
    }

    @media screen and (max-width: 1279px) {
      display: block;
      font-size: 18px;
      width: 100%;
      padding: 6.5px;
      text-align: center;
    }

    &:disabled {
      opacity: 0.8;
    }
  }

  &__all {
    text-align: center;

    @media screen and (min-width: 1920px) {
      margin: 98px auto 0;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin: 80px auto 0;
    }

    @media screen and (max-width: 1279px) {
      margin: 60px auto 0;
    }

    .button {
      @media screen and (min-width: 1920px) {
        padding: 17px 88px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        padding: 15px 50px;
      }

      @media screen and (max-width: 1279px) {
        padding: 8px 13px;
      }
    }
  }

  &__item_slider.active {
    overflow: unset;

    .price-block__form {
      position: absolute;
      width: calc(100vw - 25px);
      min-height: 80vh;
      max-width: unset;
      right: 0;
      left: unset;
    }

    &.slick-current .price-block__form {
      left: 0;
      right: unset;
    }
  }
}

.price {
  h2.title {
    text-align: left;
  }

  &__wrap {
    @media screen and (min-width: 1280px) {
      padding: 40px 0 80px;
    }

    @media screen and (max-width: 1279px) {
      grid-gap: 8px;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    &:not(:first-of-type) {
      @media screen and (min-width: 1280px) {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
      }
    }
  }

  .map {
    h2.title {
      padding-bottom: 16px;
      text-align: left;
    }

    &__desc {
      text-align: left;
    }
  }
}
