.reviews-block {
  padding: 60px 0 157px;
  background-color: #fff;

  @media screen and (max-width: 1279px) {
    padding: 32px 0 16px;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (min-width: 1920px) {
      gap: 43px;
    }

    @media screen and (max-width: 1919px) {
      gap: 24px;
    }

    @media screen and (max-width: 1279px) {
      flex-direction: column;
    }
  }

  &__item {
    overflow: hidden;
    filter: brightness(0.83);
    transition: all 0.3s ease;
    border-radius: 15px;
    cursor: pointer;

    @media screen and (max-width: 1279px) {
      width: 125px;
      height: 198px;
      margin: 0 6px;
    }

    &:hover {
      transform: scale(1.05);
      filter: brightness(1);
    }

    &-title {
      color: $black;
      font-family: $muller;
      font-weight: 700;
      letter-spacing: 0.01em;

      @media screen and (min-width: 1920px) {
        font-size: 32px;
        padding-bottom: 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 21px;
        padding-bottom: 15px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 24px;
        padding-bottom: 24px;
      }
    }

    &-more {
      position: absolute;
      bottom: 0;

      @media screen and (min-width: 1920px) {
        left: 42px;
        padding: 12px 40px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        left: 0;
        padding: 8px 35px;
      }

      @media screen and (max-width: 1279px) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 34px;
        margin: 32px auto 0;
        display: inline-block;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
      color: $black;
      letter-spacing: 0.01em;
      text-decoration-line: underline;

      @media screen and (min-width: 1920px) {
        font-size: 18px;
        margin-bottom: 28px;
      }

      @media screen and (max-width: 1919px) {
        font-size: 14px;
        margin-bottom: 12px;
      }

      img {
        @media screen and (min-width: 1920px) {
          margin-right: 24px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          margin-right: 0;
          transform: scale(0.7);
          transform-origin: left center;
        }

        @media screen and (max-width: 1279px) {
          margin-right: 24px;
          width: 24px;
        }
      }
    }

    &-box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      @media screen and (min-width: 1920px) {
        grid-gap: 40px 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        grid-gap: 10px;
      }

      @media screen and (max-width: 1279px) {
        display: block;
        width: 100%;

        .slick-arrow {
          &.slick-next {
            right: -9px;
          }

          &.slick-prev {
            left: -9px;
          }
        }
      }
    }
  }

  &__aside {
    position: relative;

    @media screen and (min-width: 1920px) {
      width: 18.6%;
      padding: 0 0 143px 42px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 0 0 70px 0;
      width: 20%;
    }

    @media screen and (max-width: 1279px) {
      width: 100%;
    }

    &::before {
      @media screen and (min-width: 1920px) {
        content: "";
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: $main2;
      }
    }
  }
}

.reviews-page {
  padding-bottom: 120px;

  @media screen and (max-width: 1279px) {
    padding-bottom: 32px;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 60px;

    @media screen and (min-width: 1920px) {
      gap: 43px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      gap: 24px;
    }

    @media screen and (max-width: 1279px) {
      .reviews-block__aside {
        display: none;
      }

      .reviews-block__item-box {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
      }

      .reviews-block__item {
        width: 135px;
        height: 215px;
        margin: 0;
      }
    }
  }
}
