.reviews-block {
  padding: 60px 0 157px;
  background-color: #fff;

  @media screen and (max-width: 1279px) {
    padding: 32px 0 16px;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (min-width: 1920px) {
      gap: 43px;
    }

    @media screen and (max-width: 1919px) {
      gap: 24px;
    }

    @media screen and (max-width: 1279px) {
      flex-direction: column;
    }
  }

  &__item {
    overflow: hidden;
    filter: brightness(0.83);
    transition: all 0.3s ease;
    border-radius: 15px;
    cursor: pointer;

    @media screen and (max-width: 1279px) {
      width: 125px;
      height: 198px;
      margin: 0 6px;
    }

    &:hover {
      transform: scale(1.05);
      filter: brightness(1);
    }

    &-title {
      color: $black;
      font-family: $muller;
      font-weight: 700;
      letter-spacing: 0.01em;

      @media screen and (min-width: 1920px) {
        font-size: 32px;
        padding-bottom: 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 21px;
        padding-bottom: 15px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 24px;
        padding-bottom: 24px;
      }
    }

    &-more {
      position: absolute;
      bottom: 0;

      @media screen and (min-width: 1920px) {
        left: 42px;
        padding: 12px 40px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        left: 0;
        padding: 8px 35px;
      }

      @media screen and (max-width: 1279px) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 34px;
        margin: 32px auto 0;
        display: inline-block;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
      color: $black;
      letter-spacing: 0.01em;
      text-decoration-line: underline;

      @media screen and (min-width: 1920px) {
        font-size: 18px;
        margin-bottom: 28px;
      }

      @media screen and (max-width: 1919px) {
        font-size: 14px;
        margin-bottom: 12px;
      }

      img {
        @media screen and (min-width: 1920px) {
          margin-right: 24px;
        }

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          margin-right: 0;
          transform: scale(0.7);
          transform-origin: left center;
        }

        @media screen and (max-width: 1279px) {
          margin-right: 24px;
          width: 24px;
        }
      }
    }

    &-box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      @media screen and (min-width: 1920px) {
        grid-gap: 40px 24px;
      }

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        grid-gap: 10px;
      }

      @media screen and (max-width: 1279px) {
        display: block;
        width: 100%;

        .slick-arrow {
          &.slick-next {
            right: -9px;
          }

          &.slick-prev {
            left: -9px;
          }
        }
      }
    }
  }

  &__aside {
    position: relative;

    @media screen and (min-width: 1920px) {
      width: 18.6%;
      padding: 0 0 143px 42px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 0 0 70px 0;
      width: 20%;
    }

    @media screen and (max-width: 1279px) {
      width: 100%;
    }

    &::before {
      @media screen and (min-width: 1920px) {
        content: "";
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: $main2;
      }
    }
  }
}

.reviews-page {
  padding-bottom: 120px;

  @media screen and (max-width: 1279px) {
    padding-bottom: 32px;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 60px;

    @media screen and (min-width: 1920px) {
      gap: 43px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      gap: 24px;
    }

    @media screen and (max-width: 1279px) {
      .reviews-block__aside {
        display: none;
      }

      .reviews-block__item-box {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
      }

      .reviews-block__item {
        width: calc(50% - 8px);
        min-height: 40vh;
        margin: 0;
      }
    }
  }
}

.shishamen {
  padding-top: 88px;

  .title {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 62px;
  }

  &__wrap {
    .slick-list {
      overflow: initial;
      margin: 0 -28px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        margin: 0 -15px;
      }

      @media screen and (max-width: 1279px) {
        margin: 0;
      }

      @media screen and (max-width: 767px) {
        overflow: hidden;
      }
    }
  }

  &__item {
    background-color: #fff;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 32px 32px 46px 242px;
    height: 382px;
    position: relative;
    margin: 0 28px;

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin: 0 15px;
      padding: 20px 15px 30px 160px;
      height: 260px;
    }

    @media screen and (max-width: 1279px) {
      margin: 0 28px;
      padding: 16px 16px 16px 105px;
      height: 206px;
    }

    @media screen and (max-width: 767px) {
      margin: 0 15px 0 40px;
    }

    &-img {
      position: absolute;
      top: 46px;
      left: -26px;
      overflow: hidden;
      border-radius: 15px;
      width: 228px;
      height: 290px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        width: 160px;
        height: 203px;
        left: -15px;
        top: 30px;
      }

      @media screen and (max-width: 1279px) {
        width: 123px;
        height: 158px;
        left: -26px;
        top: 24px;
      }
    }

    &-name {
      font-weight: bold;
      font-size: 28px;
      color: $black;
      padding-bottom: 15px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 24px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 18px;
        padding-bottom: 4.5px;
      }
    }

    &-exp {
      font-weight: 600;
      font-size: 18px;
      color: #828282;
      padding-bottom: 1em;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 12px;
      }
    }

    &-desc {
      font-weight: 600;
      font-size: 18px;
      color: $black;
      padding-bottom: 24px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 12px;
        padding-bottom: 11px;
      }
    }

    &-rating {
      color: $black;
      font-size: 18px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        font-size: 14px;
      }

      @media screen and (max-width: 1279px) {
        font-size: 12px;
      }

      span {
        font-size: 24px;

        @media screen and (min-width: 1280px) and (max-width: 1919px) {
          font-size: 20px;
        }

        @media screen and (max-width: 1279px) {
          font-size: 18px;
        }
      }
    }

    &-more {
      position: absolute;
      left: 242px;
      bottom: 46px;
      padding: 12px 40px;

      @media screen and (min-width: 1280px) and (max-width: 1919px) {
        left: 160px;
        bottom: 30px;
        padding: 10px 35px;
      }

      @media screen and (max-width: 1279px) {
        left: 105px;
        bottom: 16px;
        padding: 8px 35px;
      }
    }
  }
}
