.thx {
  padding-top: 80px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    @media screen and (min-width: 1920px) {
      min-width: 256px;
      height: 256px;
      margin-right: 122px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      min-width: 150px;
      height: 150px;
      margin-right: 60px;
    }
  }

  &__title {
    padding-bottom: 16px;
  }

  &__desc {
    font-weight: 500;
    color: #4f4f4f;

    @media screen and (min-width: 1920px) {
      font-size: 36px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 20px;
    }
  }
}

.thankyou .map {
  h2.title {
    text-align: left;
  }
}
