.footer {
  background: linear-gradient(95.87deg, #20286d -14.09%, #080b29 88.42%);
  color: $main2;

  .logo {
    img {
      width: 100%;
    }

    @media screen and (min-width: 1920px) {
      margin-right: 90px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin-right: 50px;
      width: 82px;
    }
  }

  &__wrap {
    display: flex;

    @media screen and (min-width: 1920px) {
      padding: 60px 0;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 30px 0;
    }
  }

  &__menu {
    font-family: $muller;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    @media screen and (min-width: 1920px) {
      font-size: 24px;
      grid-gap: 24px 77px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 16px;
      grid-gap: 20px 40px;
    }

    .menu-shop a {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .sushi {
        width: 27px;
        height: 28px;
        fill: $main2;
        margin-right: 13px;
      }
    }
  }

  &__side {
    margin-left: auto;
  }

  .socials {
    justify-content: flex-end;

    @media screen and (min-width: 1920px) {
      padding: 32px 0 42px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      padding: 20px 0 20px;
    }
  }

  .socials-link {
    @media screen and (min-width: 1920px) {
      margin-left: 48px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      margin-left: 30px;
      width: 25px;
      height: 25px;
    }
  }

  .policy {
    font-family: $muller;
    text-align: right;
    text-decoration-line: underline;
    color: $main2;
    white-space: nowrap;

    @media screen and (min-width: 1920px) {
      font-size: 18px;
    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      font-size: 16px;
    }
  }
}
