$font: "Gilroy", sans-serif, "Arial";
$muller: "Muller", sans-serif;
$colorBg: #ededed;
$main: #f78012;
$main2: #e4e3e3;
$linear: rgba(237, 91, 91, 1);
$gold: rgba(186, 147, 46, 1);
$green: #07a504;
$red: #db2626;
$black: #111;
